<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	useFlickr="false"
	galleryTitle="South Africa 2014"
	textColor="rgba(255, 255, 255, 1)"
	thumbFrameColor="rgba(255, 255, 255, 0.5)"
	showOpenButton="true"
	showExpandButton="true"
	showThumbsButton="true"
	useThumbDots="false"
	useFullscreenExpand="false"
>

	<image imageURL="images/20110103_9442-Edit.jpg" thumbURL="thumbs/20110103_9442-Edit.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110104_9622.jpg" thumbURL="thumbs/20110104_9622.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Beech tree (Northofagus betaloides) caught in droplets on a spider web]]></title>
		<caption><![CDATA[Beech tree (Northofagus betaloides) caught in droplets on a spider web]]></caption>
	</image>
	<image imageURL="images/20110104_0272.jpg" thumbURL="thumbs/20110104_0272.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[Tourism through a hand lens.  Cladonia lichen in Omora Park.]]></caption>
	</image>
	<image imageURL="images/20110105_0527.jpg" thumbURL="thumbs/20110105_0527.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Collecting mosses on Navarino Island, Chilean Patagonia]]></title>
		<caption><![CDATA[Collecting mosses on Navarino Island, Chilean Patagonia]]></caption>
	</image>
	<image imageURL="images/20110105_0545.jpg" thumbURL="thumbs/20110105_0545.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[Waterfall on the Robalo River]]></caption>
	</image>
	<image imageURL="images/20110105_0585.jpg" thumbURL="thumbs/20110105_0585.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110105_0597.jpg" thumbURL="thumbs/20110105_0597.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110105_0601.jpg" thumbURL="thumbs/20110105_0601.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[Grimmia]]></title>
		<caption><![CDATA[Grimmia]]></caption>
	</image>
	<image imageURL="images/20110105_0617.jpg" thumbURL="thumbs/20110105_0617.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110105_0676.jpg" thumbURL="thumbs/20110105_0676.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110105_0717.jpg" thumbURL="thumbs/20110105_0717.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110105_0919.jpg" thumbURL="thumbs/20110105_0919.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110106_1336.jpg" thumbURL="thumbs/20110106_1336.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110104_tion.jpg" thumbURL="thumbs/20110104_tion.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110110_3847.jpg" thumbURL="thumbs/20110110_3847.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110111_9844.jpg" thumbURL="thumbs/20110111_9844.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110112_3742.jpg" thumbURL="thumbs/20110112_3742.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110113_3922.jpg" thumbURL="thumbs/20110113_3922.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110115_5057.jpg" thumbURL="thumbs/20110115_5057.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20110115_5073.jpg" thumbURL="thumbs/20110115_5073.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/WilsonAdam_20120605_IMG_9494.jpg" thumbURL="thumbs/WilsonAdam_20120605_IMG_9494.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/WilsonAdam_20121021_IMG_1730enfuse-Edit.jpg" thumbURL="thumbs/WilsonAdam_20121021_IMG_1730enfuse-Edit.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/Lichen.jpg" thumbURL="thumbs/Lichen.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/LunchRockLichen.jpg" thumbURL="thumbs/LunchRockLichen.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20130908-ForestLoop.jpg" thumbURL="thumbs/20130908-ForestLoop.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20130908-ForestLoop2.jpg" thumbURL="thumbs/20130908-ForestLoop2.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20130908-IMG_8385enfuse.jpg" thumbURL="thumbs/20130908-IMG_8385enfuse.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20131123_IMG_9499enfuse-Edit.jpg" thumbURL="thumbs/20131123_IMG_9499enfuse-Edit.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>
	<image imageURL="images/20131125_IMG_9590enfuse-Edit_copy.jpg" thumbURL="thumbs/20131125_IMG_9590enfuse-Edit_copy.jpg" linkURL="" linkTarget="_blank">
		<title><![CDATA[]]></title>
		<caption><![CDATA[]]></caption>
	</image>

</juiceboxgallery>
