<aside>
	<div class="border-dotted radius b30">
		<h3>Scholar Metrics</h3> <br>
		<p>

			<img width="100%" height="auto" src="http://www.researcherid.com/CitationDistribution.action?key=50509&listId=LIST1&a=1382492327827">

			<span id="badgeCont127077"><script src='http://labs.researcherid.com/mashlets?el=badgeCont127077&amp;mashlet=badge&amp;showTitle=true&amp;className=a&amp;rid=C-6731-2009'></script></span>

			<a href="http://yale.academia.edu/AdamWilson" target="_blank"><img alt="Academia.edu" src="/images/logos/academia-logo-big.png" width="90%"/></a>


			<a href="http://orcid.org/0000-0003-3362-7806" target="_blank"><img alt="OrcID" src="http://orcid.org/sites/all/themes/orcid/img/orcid-logo.png" width="60%" /></a>

			<a href="http://www.scopus.com/authid/detail.url?authorId=26533580600" target="_blank"><img alt="Scopus" src="/images/logos/sciversescopus.gif" width="60%" /></a>

			</p>
	</div>


	<div class="border-dotted radius b30">
		<p class="text-left">
			<a href="{{ site.url }}/files/Wilson_Adam_CV.pdf" > Curriculum Vitae </a>
		</p>
	</div>
</aside>
